@media screen and (max-width: 1024px) {
  
  /*  COMMON ELEMENTS */

  .body-wrapper {
    max-width: 1024px;
  }

  /*  HEADER  */

  .header-image {
    width: calc(100% - 180px);
    h1 {
      font-size: 4rem;
    }
  }

  /*  ASIDE - BREAD CRUMBS  */

  aside {
    width:180px;
  }

  .bread-crumbs {
    font-size:60px;
  }

  /*  MAIN  */

  main {
    width: calc(100% - 180px);
    margin: 0 0 0 180px;
  }
}