/* ABSOLUTE OVERRIDES */

.text-transition {
  opacity: 0;
}

.hide-option {
  display: none;
}

.option0-desc.show-description,
.option1-desc.show-description {
  opacity: 1;
}

@media screen and (min-width: 769px) {
  .choice0:hover > .option0-desc,
  .choice1:hover > .option1-desc {
    opacity: 1;
  }
}