* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

/* BASE STYLES  */
html {
  font: 125% "Rubik", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
aside,
nav {
  margin: 0;
  padding: 0;
}

h1 {
  position: relative;
  max-width: 100%;
  display: inline-block;
  margin: 0 auto;
  border-top: 5px dotted;
  border-bottom: 5px dotted;
}

h1,
h2,
h3 {
  text-align: center;
}

main {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
}

/*  COMMON ELEMENTS */
.body-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 55px);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  min-height: 600px;
}

button,
.game-options,
.button {
  border-radius: 5px;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

.button {
  min-width: 200px;
  height: 50px;
  display: inline-block;
  padding: 0.5em;
  cursor: default;
}

button,
.game-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% - 10px);
  height: 40px;
  border: none;
  margin: 10px 5px;
  text-transform: uppercase;
  font-size: 16px;
}

.caret {
  -webkit-animation: blink-caret 0.6s step-end infinite;
  animation: blink-caret 0.6s step-end infinite;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

/*  SKIP BOX  */
.skip-box {
  left: 37.5%;
  position: absolute;
  text-align: center;
  top: -1000px;
  width: 30%;
  z-index: 999;
  height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 0.6rem;
}

.skip-box:focus {
  top: 0px;
}

/*  HEADER  */
header {
  width: 100%;
  margin: 0 auto;
  height: 200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
}

.header-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 2.5rem;
  height: 200px;
  max-height: 200px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-image span {
  -webkit-animation: title-glitch 250s step-end infinite;
  animation: title-glitch 250s step-end infinite;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

/*  BREAD CRUMB ASIDE */
aside {
  position: absolute;
  height: 70%;
  left: 0;
  top: 15%;
  width: 20%;
  overflow: hidden;
}

.bread-crumbs {
  font-size: 80px;
  text-align: center;
}

.crumb-1 {
  padding-left: 15px;
}

/*  MAIN BODY */
main {
  width: 75%;
  margin: 0 5% 0 20%;
  height: calc(100% - 255px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main h2 {
  margin-bottom: 20px;
}

form {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.story-body {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  min-height: 250px;
  max-height: 650px;
  margin-bottom: 30px;
  border-radius: 2px;
  width: 100%;
  -webkit-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  transition: opacity 0.75s;
  opacity: 1;
}

.story-body-text input {
  width: 70%;
  text-align: center;
  margin-left: calc(15%);
  margin-top: 20px;
  height: 46px;
  font-family: "IBM Plex Mono", monospace;
}

.choice0,
.choice1 {
  display: inline-block;
}

.choices {
  position: relative;
  text-align: center;
  min-height: 100px;
  margin-top: 80px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.choices h3 {
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: absolute;
  text-align: center;
  width: 100%;
  top: -60px;
  opacity: 0;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: default;
  pointer-events: none;
  left: -5px;
}

.choice0:hover > .option0-desc,
.choice1:hover > .option1-desc {
  opacity: 1;
}

.choice0:hover + .choice1 > .show-description,
.option1:hover + .choice0 > .show-description {
  opacity: 0;
}

/*  FOOTER  */
footer {
  position: relative;
  bottom: 0;
  text-align: center;
  width: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 990;
  font-size: 0.8rem;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav {
  position: absolute;
  left: 0;
  width: 300px;
  padding: 10px;
  z-index: 999;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  bottom: 5px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: -2;
}

.home-button {
  text-decoration: none;
  text-align: center;
  height: 50px;
  font-family: "IBM Plex Mono", monospace;
  width: 100%;
  margin-bottom: 50px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.7em;
  text-transform: uppercase;
}

.main-nav-list {
  height: 0;
  overflow: hidden;
  bottom: -5px;
  padding: 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  width: calc(100% - 20px);
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: height 0.5s, opacity 0.2s;
  -o-transition: height 0.5s, opacity 0.2s;
  transition: height 0.5s, opacity 0.2s;
  border-radius: 10px 10px 0 0;
  z-index: -1;
}

.main-nav-list h6 {
  text-align: center;
  font-size: 0.8rem;
}

.main-nav-list li {
  min-width: 150px;
}

.main-nav-list li:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.7);
  height: 2em;
  padding-top: 0.4em;
  border-radius: 40px;
}

.game-options-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  top: -5000px;
}

.game-options {
  color: #fff;
  position: relative;
  top: 15px;
  z-index: 998;
}

.game-options-checkbox:checked + .main-nav-list {
  opacity: 1;
  height: 580px;
  z-index: 997;
}

/*  ANIMATION KEY FRAMES  */
@-webkit-keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes title-glitch {
  from,
  to {
    font-variant: normal;
    vertical-align: unset;
  }
  31% {
    font-variant: small-caps;
  }
  31.05% {
    font-variant: normal;
  }
  45% {
    font-variant: small-caps;
  }
  47% {
    font-variant: normal;
    vertical-align: super;
  }
  56% {
    font-variant: small-caps;
  }
  56.05% {
    vertical-align: unset;
  }
  60% {
    font-variant: normal;
  }
  73% {
    font-variant: small-caps;
    vertical-align: super;
  }
  73.05% {
    font-variant: normal;
    vertical-align: sub;
  }
  73.35% {
    font-variant: normal;
    vertical-align: middle;
  }
  74% {
    font-style: oblique;
  }
  75% {
    font-style: unset;
  }
  99% {
    font-variant: small-caps;
    vertical-align: unset;
    font-style: oblique;
  }
  99.01% {
    font-variant: normal;
    vertical-align: unset;
    font-style: unset;
  }
  99.5% {
    font-style: oblique;
  }
  100% {
    font-style: unset;
  }
}

@keyframes title-glitch {
  from,
  to {
    font-variant: normal;
    vertical-align: unset;
  }
  31% {
    font-variant: small-caps;
  }
  31.05% {
    font-variant: normal;
  }
  45% {
    font-variant: small-caps;
  }
  47% {
    font-variant: normal;
    vertical-align: super;
  }
  56% {
    font-variant: small-caps;
  }
  56.05% {
    vertical-align: unset;
  }
  60% {
    font-variant: normal;
  }
  73% {
    font-variant: small-caps;
    vertical-align: super;
  }
  73.05% {
    font-variant: normal;
    vertical-align: sub;
  }
  73.35% {
    font-variant: normal;
    vertical-align: middle;
  }
  74% {
    font-style: oblique;
  }
  75% {
    font-style: unset;
  }
  99% {
    font-variant: small-caps;
    vertical-align: unset;
    font-style: oblique;
  }
  99.01% {
    font-variant: normal;
    vertical-align: unset;
    font-style: unset;
  }
  99.5% {
    font-style: oblique;
  }
  100% {
    font-style: unset;
  }
}

html.style-1 {
  background-color: #050802;
  color: #6b2;
  scrollbar-color: #251 transparent;
}

html.style-1 h1,
html.style-1 h2,
html.style-1 h3,
html.style-1 h4,
html.style-1 h5,
html.style-1 h6,
html.style-1 p,
html.style-1 i,
html.style-1 button,
html.style-1 .game-options,
html.style-1 .home-button {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-repeating-linear-gradient(bottom, transparent 0, #6b2 2px, transparent 3px);
  background-image: -o-repeating-linear-gradient(bottom, transparent 0, #6b2 2px, transparent 3px);
  background-image: repeating-linear-gradient(0deg, transparent 0, #6b2 2px, transparent 3px);
}

html.style-1 h1,
html.style-1 h2,
html.style-1 h3,
html.style-1 h4,
html.style-1 h5 {
  text-shadow: 0 0 1.6px #6b2;
  color: rgba(84, 216, 42, 0.3);
}

html.style-1 p,
html.style-1 i {
  color: rgba(84, 216, 42, 0.6);
}

html.style-1 .button,
html.style-1 button {
  background-color: #6b2;
  color: #050802;
  background-clip: unset;
}

html.style-1 .button:hover,
html.style-1 button:hover {
  background-color: #251;
}

html.style-1 .game-options {
  background-color: black;
  background-clip: unset;
}

html.style-1 .game-options:hover {
  background-color: #ff1493;
}

html.style-1 .story-body {
  scrollbar-color: #251 transparent;
  padding: 45px;
}

html.style-1 .story-body input {
  border: 2px solid #6b2;
  background-color: #050802;
  color: #6b2;
}

html.style-1 .incomplete-bread-crumb {
  color: #050802;
  text-shadow: 0 0 10px #6b2;
}

html.style-2 {
  background-color: #012;
  color: #f8fcff;
  scrollbar-color: #158 transparent;
}

html.style-2 h1,
html.style-2 h2,
html.style-2 h3,
html.style-2 h4,
html.style-2 h5,
html.style-2 h6,
html.style-2 p,
html.style-2 i,
html.style-2 button,
html.style-2 .game-options,
html.style-2 .home-button {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-repeating-linear-gradient(bottom, transparent 0, #f8fcff 2px, transparent 3px);
  background-image: -o-repeating-linear-gradient(bottom, transparent 0, #f8fcff 2px, transparent 3px);
  background-image: repeating-linear-gradient(0deg, transparent 0, #f8fcff 2px, transparent 3px);
}

html.style-2 h1,
html.style-2 h2,
html.style-2 h3,
html.style-2 h4,
html.style-2 h5 {
  text-shadow: 0 0 1.6px #f8fcff;
  color: rgba(248, 252, 255, 0.3);
}

html.style-2 p,
html.style-2 i {
  color: rgba(248, 252, 255, 0.6);
}

html.style-2 .button,
html.style-2 button {
  background-color: #f8fcff;
  color: #012;
  background-clip: unset;
}

html.style-2 .button:hover,
html.style-2 button:hover {
  background-color: #158;
}

html.style-2 .game-options {
  background-color: black;
  background-clip: unset;
}

html.style-2 .game-options:hover {
  background-color: #00f;
}

html.style-2 .story-body {
  scrollbar-color: #158 transparent;
  border: 2px solid rgba(248, 252, 255, 0.3);
  padding: 43px;
}

html.style-2 .story-body input {
  border: 2px solid rgba(248, 252, 255, 0.3);
  background-color: #012;
  color: #f8fcff;
}

html.style-2 .incomplete-bread-crumb {
  color: #012;
  text-shadow: 0 0 10px #f8fcff;
}

html.style-3 {
  background-color: #211;
  color: #dcc;
  scrollbar-color: #a87 transparent;
}

html.style-3 h1,
html.style-3 h2,
html.style-3 h3,
html.style-3 h4,
html.style-3 h5,
html.style-3 h6,
html.style-3 p,
html.style-3 i,
html.style-3 button,
html.style-3 .game-options,
html.style-3 .home-button {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-repeating-linear-gradient(bottom, transparent 0, #dcc 2px, transparent 3px);
  background-image: -o-repeating-linear-gradient(bottom, transparent 0, #dcc 2px, transparent 3px);
  background-image: repeating-linear-gradient(0deg, transparent 0, #dcc 2px, transparent 3px);
}

html.style-3 h1,
html.style-3 h2,
html.style-3 h3,
html.style-3 h4,
html.style-3 h5 {
  text-shadow: 0 0 1.6px #dcc;
  color: rgba(221, 204, 204, 0.3);
}

html.style-3 p,
html.style-3 i {
  color: rgba(221, 204, 204, 0.6);
}

html.style-3 .button,
html.style-3 button {
  background-color: #dcc;
  color: #211;
  background-clip: unset;
}

html.style-3 .button:hover,
html.style-3 button:hover {
  background-color: #a87;
}

html.style-3 .game-options {
  background-color: black;
  background-clip: unset;
}

html.style-3 .game-options:hover {
  background-color: #789;
}

html.style-3 .story-body {
  scrollbar-color: #a87 transparent;
  border: 3px double rgba(221, 204, 204, 0.3);
  padding: 42px;
}

html.style-3 .story-body input {
  border: 3px double rgba(221, 204, 204, 0.3);
  background-color: #211;
  color: #dcc;
}

html.style-3 .incomplete-bread-crumb {
  color: #211;
  text-shadow: 0 0 10px #dcc;
}

html.style-4 {
  background-color: #26c;
  color: #8ff;
  scrollbar-color: #8ff transparent;
}

html.style-4 h1,
html.style-4 h2,
html.style-4 h3,
html.style-4 h4,
html.style-4 h5,
html.style-4 h6,
html.style-4 p,
html.style-4 i,
html.style-4 button,
html.style-4 .game-options,
html.style-4 .home-button {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-repeating-linear-gradient(bottom, transparent 0, #8ff 2px, transparent 3px);
  background-image: -o-repeating-linear-gradient(bottom, transparent 0, #8ff 2px, transparent 3px);
  background-image: repeating-linear-gradient(0deg, transparent 0, #8ff 2px, transparent 3px);
}

html.style-4 h1,
html.style-4 h2,
html.style-4 h3,
html.style-4 h4,
html.style-4 h5 {
  text-shadow: 0 0 1.6px #8ff;
  color: rgba(136, 255, 255, 0.1);
}

html.style-4 p,
html.style-4 i {
  color: rgba(136, 255, 255, 0.3);
}

html.style-4 .button,
html.style-4 button {
  background-color: #8ff;
  color: #26c;
  background-clip: unset;
}

html.style-4 .button:hover,
html.style-4 button:hover {
  background-color: #fb7;
}

html.style-4 .game-options {
  background-color: black;
  background-clip: unset;
}

html.style-4 .game-options:hover {
  background-color: #ff4500;
}

html.style-4 .story-body {
  scrollbar-color: #8ff transparent;
  border: 35px solid rgba(136, 255, 255, 0.1);
  padding: 10px;
}

html.style-4 .story-body input {
  border: 3px solid rgba(136, 255, 255, 0.1);
  background-color: #26c;
  color: #8ff;
}

html.style-4 .incomplete-bread-crumb {
  color: #26c;
  text-shadow: 0 0 10px #8ff;
}

html.style-5 {
  background-color: #111;
  color: #eee;
  scrollbar-color: #888 transparent;
}

html.style-5 h1,
html.style-5 h2,
html.style-5 h3,
html.style-5 h4,
html.style-5 h5,
html.style-5 h6,
html.style-5 p,
html.style-5 i,
html.style-5 button,
html.style-5 .game-options,
html.style-5 .home-button {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-repeating-linear-gradient(bottom, transparent 0, #eee 2px, transparent 3px);
  background-image: -o-repeating-linear-gradient(bottom, transparent 0, #eee 2px, transparent 3px);
  background-image: repeating-linear-gradient(0deg, transparent 0, #eee 2px, transparent 3px);
}

html.style-5 h1,
html.style-5 h2,
html.style-5 h3,
html.style-5 h4,
html.style-5 h5 {
  text-shadow: 0 0 1.6px #eee;
  color: rgba(225, 225, 225, 0.3);
}

html.style-5 p,
html.style-5 i {
  color: rgba(225, 225, 225, 0.6);
}

html.style-5 .button,
html.style-5 button {
  background-color: #eee;
  color: #111;
  background-clip: unset;
}

html.style-5 .button:hover,
html.style-5 button:hover {
  background-color: #888;
}

html.style-5 .game-options {
  background-color: black;
  background-clip: unset;
}

html.style-5 .game-options:hover {
  background-color: #708090;
}

html.style-5 .story-body {
  scrollbar-color: #888 transparent;
  border: 3px solid rgba(225, 225, 225, 0.3);
  padding: 42px;
}

html.style-5 .story-body input {
  border: 3px solid rgba(225, 225, 225, 0.3);
  background-color: #111;
  color: #eee;
}

html.style-5 .incomplete-bread-crumb {
  color: #111;
  text-shadow: 0 0 10px #eee;
}

html.style-6 {
  background-color: #fff;
  color: #000;
  scrollbar-color: #000 transparent;
}

html.style-6 h6 {
  color: #fff;
}

html.style-6 .button,
html.style-6 button,
html.style-6 .game-options {
  background-color: #000;
  color: #fff;
}

html.style-6 .button:hover,
html.style-6 button:hover,
html.style-6 .game-options:hover {
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0 0 0 2px #000;
  box-shadow: 0 0 0 2px #000;
}

html.style-6 .story-body {
  scrollbar-color: #000 transparent;
  border: 3px double #000;
  padding: 42px;
}

html.style-6 .story-body input {
  border: 3px double #000;
  background-color: #fff;
  color: #000;
}

html.style-6 .incomplete-bread-crumb {
  color: #fff;
  text-shadow: 0 0 10px #000;
}

@media screen and (max-width: 1280px) {
  /*  COMMON ELEMENTS */
  .body-wrapper {
    max-width: 1280px;
  }
  /*  HEADER  */
  header {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: unset;
  }
  .header-image {
    width: calc(100% - 320px);
  }
  /*  ASIDE - BREAD CRUMBS  */
  aside {
    width: 320px;
  }
  /*  MAIN  */
  main {
    width: calc(100% - 320px);
    margin: 0 0 0 320px;
  }
  /*  FOOTER  */
  footer {
    padding-left: 320px;
  }
}

@media screen and (max-width: 1024px) {
  /*  COMMON ELEMENTS */
  .body-wrapper {
    max-width: 1024px;
  }
  /*  HEADER  */
  .header-image {
    width: calc(100% - 180px);
  }
  .header-image h1 {
    font-size: 4rem;
  }
  /*  ASIDE - BREAD CRUMBS  */
  aside {
    width: 180px;
  }
  .bread-crumbs {
    font-size: 60px;
  }
  /*  MAIN  */
  main {
    width: calc(100% - 180px);
    margin: 0 0 0 180px;
  }
}

@media screen and (max-width: 768px) {
  /*  COMMON ELEMENTS */
  .body-wrapper {
    max-width: 768px;
    min-width: 350px;
  }
  /*  HEADER  */
  header {
    height: 100px;
  }
  .header-image {
    width: 100%;
    height: 100%;
  }
  .header-image h1 {
    font-size: 2.5rem;
  }
  /*  ASIDE - BREAD CRUMBS  */
  aside {
    height: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 95px;
  }
  .bread-crumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    opacity: 0.8;
    width: 300px;
  }
  .bread-crumbs li {
    margin: 0 10px;
  }
  /*  MAIN  */
  main {
    width: calc(100% - 30px);
    margin: 0 auto;
    height: calc(100% - 180px);
  }
  .story-body {
    height: 100%;
    max-height: 100%;
  }
  .story-body-text {
    font-size: 0.8rem;
  }
  .choices .button {
    font-size: 0.8rem;
    padding-top: .9em;
    min-width: 150px;
  }
  .choices h3 {
    font-size: 0.8rem;
  }
  /*  FOOTER  */
  footer {
    padding-left: 240px;
  }
  footer p {
    font-size: 0.6rem;
  }
  nav {
    width: 240px;
  }
  nav h6 {
    font-size: 0.6rem;
    padding-top: 0.2em;
  }
  .main-nav-list h6 {
    font-size: .6rem;
  }
  .home-button {
    min-width: 150px;
  }
}

@media screen and (max-width: 420px) {
  /*  COMMON ELEMENTS */
  .body-wrapper {
    max-width: 420px;
  }
}

/* ABSOLUTE OVERRIDES */
.text-transition {
  opacity: 0;
}

.option0-desc.show-description, .option1-desc.show-description {
  opacity: 1;
}

.hide-option {
  display: none;
}
