@import "partials/normalize";

//  VARIABLES

$monoFont: "IBM Plex Mono", monospace;
$sansFont: "Rubik", sans-serif;

/* BASE STYLES  */

html {
  font: 125% $sansFont;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
} // let's do this, single page design, flexin' my muscles hnngnngrgrgrgh

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
aside,
nav {
  // Let's start at a clean slate
  margin: 0;
  padding: 0;
}

h1 {
  position: relative;
  max-width: 100%;
  display: inline-block;
  margin: 0 auto;
  border-top: 5px dotted;
  border-bottom: 5px dotted;
}

h1,
h2,
h3 {
  text-align: center;
}

main {
  font-family: $monoFont;
  font-weight: 500;
  display: flex;
}

ul {
  list-style: none;
}

/*  COMMON ELEMENTS */

.body-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  height: calc(100% - 55px);
  flex-wrap: wrap;
  overflow: hidden;
  min-height: 600px;
}

button,
.game-options,
.button {
  border-radius: 5px;
  transition: background 0.4s;
}

.button {
  min-width: 200px;
  height: 50px;
  display: inline-block;
  padding: 0.5em;
  cursor: default;
}

button,
.game-options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
  height: 40px;
  border: none;
  margin: 10px 5px;
  text-transform: uppercase;
  font-size: 16px;
}

.caret {
  animation: blink-caret 0.6s step-end infinite;
  animation-fill-mode: none;
}

/*  SKIP BOX  */

.skip-box {
  left: 37.5%;
  position: absolute;
  text-align: center;
  top: -1000px;
  width: 30%;
  z-index: 999;
  height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 0.6rem;
}

.skip-box:focus {
  top: 0px;
}

/*  HEADER  */

header {
  width: 100%;
  margin: 0 auto;
  height: 200px;
  position: relative;
  display: flex;
  pointer-events: none;
}

.header-image {
  display: flex;
  width: 100%;
  font-size: 2.5rem;
  height: 200px;
  max-height: 200px;
  align-items: center;
  user-select: none;
  span {
    animation: title-glitch 250s step-end infinite;
    animation-fill-mode: none;
  }
}

/*  BREAD CRUMB ASIDE */

aside {
  position: absolute;
  height: 70%;
  left: 0;
  top: 15%;
  width: 20%;
  overflow: hidden;
}

.bread-crumbs {
  font-size: 80px;
  text-align: center;
}

.crumb-1 {
  padding-left: 15px;
}

/*  MAIN BODY */

main {
  width: 75%;
  margin: 0 5% 0 20%;
  height: calc(100% - 255px);
  flex-direction: column;
  h2 {
    margin-bottom: 20px;
  }
}

form {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.story-body {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  min-height: 250px;
  max-height: 650px;
  margin-bottom: 30px;
  border-radius: 2px;
  width: 100%;
  transition: opacity 0.75s;
  opacity: 1;
}

.story-body-text {
  input {
    width: 70%;
    text-align: center;
    margin-left: calc(15%);
    margin-top: 20px;
    height: 46px;
    font-family: $monoFont;
  }
}

.choice0,
.choice1 {
  display: inline-block;
}

.choices {
  position: relative;
  text-align: center;
  min-height: 100px;
  margin-top: 80px;
  user-select: none;
  h3 {
    transition: opacity 0.5s;
    position: absolute;
    text-align: center;
    width: 100%;
    top: -60px;
    opacity: 0;
    text-decoration: underline dotted;
    cursor: default;
    pointer-events: none;
    left: -5px;
  }
}

.choice0:hover > .option0-desc,
.choice1:hover > .option1-desc {
  opacity: 1;
}

.choice0:hover + .choice1 > .show-description,
.option1:hover + .choice0 > .show-description {
  opacity: 0;
}

/*  FOOTER  */

footer {
  position: relative;
  bottom: 0;
  text-align: center;
  width: 100%;
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 990;
  font-size: 0.8rem;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  left: 0;
  width: 300px;
  padding: 10px;
  z-index: 999;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  bottom: 5px;
  justify-content: flex-end;
  z-index: -2;
}

.home-button {
  text-decoration: none;
  text-align: center;
  height: 50px;
  font-family: $monoFont;
  width: 100%;
  margin-bottom: 50px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.7em;
  text-transform: uppercase;
}

.main-nav-list {
  height: 0;
  overflow: hidden;
  bottom: -5px;
  padding: 20px 20px 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: calc(100% - 20px);
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.3);
  transition: height 0.5s, opacity 0.2s;
  border-radius: 10px 10px 0 0;
  z-index: -1;
  h6 {
    text-align: center;
    font-size: 0.8rem;
  }
  li {
    min-width: 150px;
  }
  & li:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.7);
    height: 2em;
    padding-top: 0.4em;
    border-radius: 40px;
  }
}

.game-options-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  top: -5000px;
}

.game-options {
  color: #fff;
  position: relative;
  top: 15px;
  z-index: 998;
}

.game-options-checkbox:checked + .main-nav-list {
  opacity: 1;
  height: 580px;
  z-index: 997;
}

// OTHER IMPORTS

@import "partials/animations";
@import "partials/colors";
@import "partials/1600";
@import "partials/1280";
@import "partials/1024";
@import "partials/768";
@import "partials/420";
@import "partials/absoluteOverrides";
