@import 'partials/normalize';


$monoFont: 'Space Mono', monospace;
$sansFont: 'Rubik', sans-serif;



html {
  font: 125%, $sansFont;
  background-color:#050802;
  color: #6b2;
}

img {
  width:100%;
}

h1,h2,h3,h4,h5,h6,ul,li,aside,nav { // Let's start at a clean slate
  margin:0;
  padding:0;
}

h1 {
  text-shadow: 0 0 10px #4a2;
  // background-image: repeating-linear-gradient(0deg, rgba(64,176,32,0) 0%, rgba(64,176,32,.4) 10%, rgba(64,176,32,0) 20%);
}

h1, h2, h3 {
  text-align:center;
}

main {
  font-family: $monoFont;
}

ul {
  list-style:none;
}

body {
  width:100vw;
  height:100vh;
  
} // let's do this hnngnngrgrgrgh

.body-wrapper {
  max-width:1600px;
}

header {
  width:60%;
  margin:0 auto;
  height:20%;
  position:relative;
}

nav {
  position:absolute;
  right:-20%;
  top:0;
  width:20%;
}

aside {
  position:absolute;
  height: 70%;
  left:0;
  top: 15%;
  width:20%;
}

main {
  width:60%;
  margin:0 auto;
}

.button {
  background-color:limegreen;
  color:black;
  width:200px;
  height:50px;
  display: inline-block;
  padding:1em;
  cursor:default;
  &:hover {
    background-color:green;
  }
}

.story-body {
  overflow-y:scroll;
  overflow-x:hidden;
  height: 400px;
}

.choices {
  text-align:center;
}

footer {
  position:relative;
  bottom:0;
  text-align:center;
}