@import "partials/normalize";

$monoFont: "IBM Plex Mono", monospace;
$sansFont: "Rubik", sans-serif;

html {
  font: 125% $sansFont;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
aside,
nav {
  // Let's start at a clean slate
  margin: 0;
  padding: 0;
}

h1 {
  position: relative;
  text-decoration: underline overline dotted;
  max-width: 100%;
  display: inline-block;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
}

main {
  font-family: $monoFont;
  font-weight: 500;
}

ul {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
} // let's do this hnngnngrgrgrgh

.body-wrapper {
  max-width: 1600px;
}

header {
  width: 60%;
  margin: 0 auto;
  height: 20%;
  position: relative;
}

.header-image {
  display: flex;
}

nav {
  position: absolute;
  right: -20%;
  top: 0;
  width: 20%;
}

aside {
  position: absolute;
  height: 70%;
  left: 0;
  top: 15%;
  width: 20%;
}

main {
  width: 60%;
  margin: 0 auto;
}

button,
.button {
  border-radius: 5px;
  transition: background 0.4s;
}

.button {
  min-width: 200px;
  height: 50px;
  display: inline-block;
  padding: 0.5em;
  cursor: default;
  margin-top:70px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
  height: 40px;
  border: none;
  margin: 10px 5px;
}

.story-body {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  min-height: 400px;
  max-height: 600px;
  border-radius: 2px;
}

.story-body-text {
  min-height: calc(100% - 190px);
  transition: opacity 0.75s;
  opacity: 1;
  input {
    width: 70%;
    text-align: center;
    margin-left: calc(15%);
    height: 46px;
    font-family: $monoFont;
  }
}

.text-transition {
  opacity: 0;
}

.hide-option {
  display: none;
}

.choices {
  position: relative;
  text-align: center;
  min-height: 125px;
  h3 {
    transition: opacity 0.5s;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10px;
    opacity:0;
  }
}

.option0:hover+.option0-desc {
  opacity: 1;
}

.option1:hover+.option1-desc {
  opacity: 1;
}

.bread-crumbs {
  font-size: 80px;
  text-align: center;
}

.crumb-1 {
  padding-left: 15px;
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
}

.caret {
  animation: blink-caret 0.6s step-end infinite;
  animation-fill-mode: none;
}

@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@import "partials/colors";
